<form class="login-form">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input ng-model="user.firstName" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input ng-model="user.lastName" class="form-control" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="inputEmail3">Email</label>
        <input ng-model="user.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword3">Password</label>
        <input ng-model="user.password" type="password" class="form-control" id="inputPassword3"
               placeholder="Password">
    </div>
    <div class="form-group">
        <button ng-click="signUp()" type="submit" class="btn btn-default">Sign up</button>
    </div>
</form>