<div ng-if="!matchingCtrl.finished" class="row">
    <div class="col-xs-6">
        <button ng-repeat="card in matchingCtrl.inProgressCards | orderBy:'wordPosition'"
                ng-if="!card.guessed"
                ng-click="matchingCtrl.selectWord(card)"
                class="btn btn-default">
            {{card.word}}
            <span ng-if="card.selectedWord">*</span>
        </button>
    </div>
    <div class="col-xs-6">
        <button ng-repeat="card in matchingCtrl.inProgressCards | orderBy:'translationPosition'"
                ng-if="!card.guessed"
                ng-click="matchingCtrl.selectTranslation(card)"
                class="btn btn-default">
            {{card.translation}}
            <span ng-if="card.selectedTranslation">*</span>
        </button>
    </div>
</div>

<div ng-if="matchingCtrl.finished">
    Congratulations!
    <button ng-click="matchingCtrl.goBack()" class="btn btn-default">Back</button>
</div>