<h1>{{cardsetCtrl.name}}</h1>

<div class="cards-container">

  <set-title current-set="cardsetCtrl.currentSet"></set-title>

  <div class="cards-container" ng-show="cardsetCtrl.currentSet">
    <div class="row header">
      <div class="term">Terms</div>
      <div class="definition">Definition</div>
      <div class="ctrls">Some buttons</div>
    </div>

    <div class="row choose-lang">
      <div class="term">
        <span class="language">English</span>
        <span class="language">Russian</span>
        <span class="language">Choose language</span>

      </div>
      <div class="definition">
        <span class="language">English</span>
        <span class="language">Russian</span>
        <span class="language">Choose language</span>
      </div>
    </div>

    <div class="words-container">
      <div class="row word exist-cards" ng-repeat="card in cardsetCtrl.cards">
        <div class="term">
          <textarea ng-model="card.word">{{card.word}}</textarea>
        </div>
        <div class="definition">
          <textarea ng-model="card.translation">{{card.translation}}</textarea>
        </div>
        <div class="ctrls">
          <span class="btn" ng-click="cardsetCtrl.createCard(card)">Save</span>
          <span class="btn">Btn2</span>
          <span class="btn">Btn3</span>
          <span class="del" ng-click="cardsetCtrl.deleteCard()">+</span>
        </div>
      </div>

      <button ng-click="cardsetCtrl.newCard()">New card</button>
    </div>
  </div>
</div>
