<div class="words-container">
  <div class="row word exist-cards" ng-repeat="card in cardsCtrl.cards">
    <div class="term">
      <textarea ng-model="card.word">{{card.word}}</textarea>
    </div>
    <div class="definition">
      <textarea ng-model="card.translation">{{card.translation}}</textarea>
    </div>
    <div class="ctrls">
      <span class="btn" ng-click="cardsCtrl.createCard(card)">Save</span>
      <span class="btn">Btn2</span>
      <span class="btn">Btn3</span>
      <span class="del" ng-click="cardsCtrl.deleteCard()">+</span>
    </div>
  </div>

  <button ng-click="cardsCtrl.newCard()">New card</button>
</div>